a {
    text-decoration:none;
    text-decoration: gray;
}

ul {
    list-style:none;
    display:flex;
    align-items: center;
}

.header li {
    margin-right:30px;
}

.header {
    text-align: center;
    display:flex;
    justify-content:space-between;
    align-items: center;
}


.container {
   display: flex;
   height: 200px;
   width: 100%;
   margin: 20px auto;
   background-color: #333;

}

.container-image img {
    width: 300px;
    height: 200px;

}

.container-txt {
    margin-left: 20px;

}

.container-txt p {
    font-size:0.8em;
    color: white;
}

.container-txt a {
    text-decoration: none;
    color: #cddc39;
}


