@charset "UTF-8";

/*
Base style
*/
body{
    font-family: 'Noto Sans JP',"Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #efefef;
    margin: 0;
}

/*
header
*/
.header {
  display: flex;
  width: 100%;
  height: 80px;
  position:absolute;
  z-index: 9999;
  top: 0px;
  left: 0px;
  margin: 0;
}

/* 検索窓　 */
.search_container{
  position: relative;
  box-sizing: border-box;
  display: block;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.2em;
  width: 250px;
  overflow: hidden;
  background: whitesmoke;
  top: 10px;
}
.search_container input[type="text"]{
  border: none;
  height: 2.0em;
  background: whitesmoke;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: black;
  position: absolute;
  height: 2.5em;
  right: 8px;
  outline : none;
  top: -10px;
}
.search_container ::-webkit-input-placeholder {
  color: black;
}
.nav{
margin-left: auto;
}
.menu-item {
  list-style: none;
  display: inline-block;
  padding: 10px;
  margin-bottom: auto;
}
.btn1{
    color: black;
}
.btn2{
  color: #efefef;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
}
.btn2::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: white;
  display: block;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}
.btn2:hover::before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1)
}

/*
area_topview
*/
.area_top_view{
  background-color: black;            /* 背景色 */
  width: 100vw;
  height: 100vh;
  position: relative;
}
.area_top_view > .view{
  z-index: 9999;
  top: 0px;
  left: 0px;
  text-align: center;
  text-decoration : underline;
  margin-top: -60px;
  width: 100%;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.area_top_view > .image{
  margin-top: -15px;
  margin-bottom: -15px;
  position: absolute;
  width: 100%;
  height: 100%;
}
.search_container{
  text-align: center;
  width: 500px;
  height: 30px;
  margin-top: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

/*
このサイトについて
*/
.head_home{
  display: flex;
  justify-content: center;
  color: black;
  text-decoration : underline;
  margin-top: 60px;
  font-weight: bold;
}
.body_home{
  color: black;
}
/* 灰色の背景 */
.area_home_about{
  background-image: url("../images/スクリーンショット\ 2022-09-12\ 21.38.31\ 1.png"); /* 画像 */
  background-size: cover;               /* 全画面 */
  background-attachment: fixed;         /* 固定 */
  background-position: center center;   /* 縦横中央 */
}
.container{
  margin-bottom: 300px;
  padding-top: 80px;
}
.body_home > .body_home_about{
  display: flex;
}
.body_home > .body_home_about > .body_about_image{
  width: 600px;
  height: 400px;
}
.body_about_text{
  padding-left: 40px;
  padding-top: 20px;
}
.body_about_title{
  margin: 0 0 20px;
}
.body_about_description{
  padding-right: 20px;
}


/*
section
*/
.about{
  display: flex;
  background-color: #efefef;
  margin-bottom: 5em;
  margin-left: 160px;
  width: 75%;
  color: black;
}
.title_button{
  display: flex;
  justify-content:space-around;
}
.about-image{
  width:400px;
  height:300px;
}
.about-caption{
  padding-left: 40px;
  padding-top: 20px;
}
.about-title{
  margin: 0 0 20px;
  width:400px;
}
.about-author{}
.about-description{
  padding-right: 20px;
}
/* チェックボックス */
.checkbox{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 60px;
}
.mylist{
  margin-left: -45px;
}
button {
  width: 30px;
  height:30px;
  border: none;
}