@charset "UTF-8";

.margin{
    width: 100%;
    height: 100px;
}

/* 検索結果の見出し */
.poster{
  text-align: center;
  color:black;
}

/*
漫画一覧を表示
*/
.about{
  display: flex;
  background-color: #efefef;
  margin-bottom: 5em;
  margin-left: 160px;
  width: 75%;
  color: black;
}
.title_button{
  display: flex;
  justify-content:space-around;
}
/* 表紙のcss */
.images {
  position: relative;
  display: flex;
  width:240px;
  height:240px;
  overflow: hidden;
  /* marginで画像をlistの上下中央に配置 */
  margin-top: auto;
  margin-bottom: auto;
}
.images > .blur {
  filter: blur(5px);
  width: 245px;
  height: 245px;
  object-fit: cover; 
  border: 3px solid rgba(0, 0, 0, 0.1);
}
.images > .upper{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width:150px;
}
.about-caption{
  padding-left: 40px;
  padding-top: 20px;
  width: 75%;
}
.about-title{
  margin: 0 0 20px;
  width:400px;
}
.about-author{}
.about-description{
  padding-right: 20px;
}
/* チェックボックス */
.checkbox{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.mylist{
  margin-left: -45px;
  margin-top: 50px;
}
button {
  width: 30px;
  height:30px;
  border: none;
}
/* サービス一覧を表示 */
.service{
  display:flex;
  margin-bottom:2em; /* サービスの下に空白を作っておく */
}
.service_iciran{
  margin: 1em auto 0 0;
  background: white; /* 背景色 */
  border-left: double 6px black; /* 左線の色 */
  border-right: double 6px black; /* 右線の色 */
  text-align: center;
  width: 110px;
  color:black;
}

.detail_button {
  display:block;
  width: 100px;
  height: 40px;
  margin: 0px;
  background-color: black	;
  border: solid 1px black	;
  border-radius: 4px;
  color: #fff;
  font-size:12px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
/* マウスオーバー */
.detail_button:hover {
  background-color: #494647;
  border: solid 1px #494647;
}