@charset "UTF-8";

/*
Base style
*/
body{
    font-family: 'Noto Sans JP',"Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;        /* 背景色 */
    background-image: url("../images/スクリーンショット\ 2022-09-12\ 21.38.31\ 1.png"); /* 画像 */
    background-size: cover;               /* 全画面 */
    background-attachment: fixed;         /* 固定 */
    background-position: center center;   /* 縦横中央 */
    overflow: auto;
}

html { scroll-behavior: smooth;}

.margin{
    width: 100%;
    height: 80px;
}


/* 検索結果の見出し */
.poster{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}


/*
section
*/
.about{
  color:black;
  display: flex;
  background-color: #efefef;
  margin-bottom: 5em;
  margin-left: 160px;
  width: 75%;
}
.title_button{
  display: flex;
  justify-content:space-around;
}
.about-image{
  width:400px;
  height:300px;
}
.about-caption{
  padding-left: 40px;
  padding-top: 20px;
}
.about-title{
  margin: 0 0 20px;
  width:400px;
}
.about-author{}
.about-description{
  padding-right: 20px;
}
/* チェックボックス */
.checkbox{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.mylist{
  margin-left: -45px;
}
button {
  width: 30px;
  height:30px;
  border: none;
}
/* サービス一覧を表示 */
.service{
  display:flex;
  margin-bottom:2em; /* サービスの下に空白を作っておく */
}
.service_iciran{
  margin: 1em auto 0 0;
  background: white; /* 背景色 */
  border-left: double 6px black; /* 左線の色 */
  border-right: double 6px black; /* 右線の色 */
  text-align: center;
  width: 110px;
  color:black;
}

.detail_button {
  display:block;
  width: 100px;
  height: 40px;
  margin: 0px;
  background-color: #494647	;
  border: solid 1px #494647	;
  border-radius: 4px;
  color: #fff;
  font-size:12px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
/* マウスオーバー */
.detail_button:hover {
  background-color: black;
}