{% extends "layout.html" %}

{% block title %}
    詳細ページ
{% endblock %}
{% block css %}
<!-- <link rel="stylesheet" href="../static/css/sanitize.css"> -->
<link rel="stylesheet" href="../static/css/detail.css">
<!-- <link rel="stylesheet" href="../static/css/register.css"> -->

<!-- <link rel="stylesheet" href="../static/css/style.css"> -->

{% endblock %}
{% block main %}
<!-- ヘッダー部分の余白 -->
<div class="margin"></div>

<!-- ヒットしなければ以下のコードを実行 -->
<h1 class="poster">{{ poster }}</h1>
<!-- ヒットすれば以下のコードを実行 -->
<h1 class="poster">{{ book_list }}</h1>

<section>
{% for row in book_detail %}
<figure class="about">
    <!-- 表紙 -->
    <div class="img">
        <img class="blur" src="{{row.img_url}}" alt="漫画の表紙">
        <img class="upper" src="{{row.img_url}}" alt="漫画の表紙">
    </div>
    <!-- ページのメイン -->
    <figcaption class="about-caption">
        <!-- タイトル -->
        <h1 class="about-title">{{ row["title"] }}</h1>
        
        <!-- 作者 -->
        <h3 class="about-author">{{ row["author"] }}</h3>
        
        <!-- サービス一覧 -->
        <div class="service">
            <ul>
                {% if available_services[5] != '' %}
                    <a href={{available_services[5]}} target="_blank"><li class="icon icon-magapoke">マガポケ</li></a>
                {% else %}
                    <li class="icon icon-invalid">マガポケ</li>
                {% endif %}
                {% if available_services[4] != '' %}
                    <a href={{available_services[4]}} target="_blank"><li class="icon icon-line">LINE</li></a>
                {% else %}
                    <li class="icon icon-invalid">LINE</li>
                {% endif %}
                {% if available_services[6] != '' %}
                    <a href={{available_services[6]}} target="_blank"><li class="icon icon-oukoku">まんが王国</li></a>
                {% else %}
                    <li class="icon icon-invalid">まんが王国</li>
                {% endif %}
                {% if available_services[3] != '' %}
                    <a href={{available_services[3]}} target="_blank"><li class="icon icon-jumpplus">Jump+</li></a>
                {% else %}
                    <li class="icon icon-invalid">Jump+</li>
                {% endif %}
                {% if available_services[0] != '' %}
                    <a href={{available_services[0]}} target="_blank"><li class="icon icon-booklive">BookLive</li></a>
                {% else %}
                    <li class="icon icon-invalid">BookLive</li>
                {% endif %}
                {% if available_services[2] != '' %}
                    <a href={{available_services[2]}} target="_blank"><li class="icon icon-ebookjapan">ebook japan</li></a>
                {% else %}
                    <li class="icon icon-invalid">ebook japan</li>
                {% endif %}
                {% if available_services[8] != '' %}
                    <a href={{available_services[8]}} target="_blank"><li class="icon icon-ynjn">ヤンジャン</li></a>
                {% else %}
                    <li class="icon icon-invalid">ヤンジャン</li>
                {% endif %}
                {% if available_services[1] != '' %}
                    <a href={{available_services[1]}} target="_blank"><li class="icon icon-cmoa">コミック<br>シーモア</li></a>
                {% else %}
                    <li class="icon icon-invalid">コミック<br>シーモア</li>
                {% endif %}
                {% if available_services[7] != '' %}
                    <a href={{available_services[7]}} target="_blank"><li class="icon icon-piccoma">ピッコマ</li></a>
                {% else %}
                    <li class="icon icon-invalid">ピッコマ</li>
                {% endif %}
            </ul>
        </div>
        <!-- 追加ボタン -->
        {%if session["user_id"]%}
            {% if like != [] %}
            <form action="/add_favorite" method="post">
                <input type="text" value="{{ row["title"] }}" name='title' style="display: none;">
                <input type="submit" value="&#xf00c; マイリスト削除" class="fa-solid fa-check delete-default">
            </form>
            {% else %}
            <form action="/add_favorite" method="post">
                <input type="text" value="{{ row["title"] }}" name='title' style="display: none;">
                <input type="submit" value="&#x2b; マイリスト追加" class="fa-solid fa-plus add-default">
            </form>
            {% endif%}
        {% else %}
        <form action="/login" method="get">
            <input type="submit" value="&#x2b; マイリスト追加" class="fa-solid fa-plus guest-default">
        </form>
        {% endif%}

        <!-- あらすじ -->
        <div class="description-content">
            <h3 class="description-title">あらすじ</h3>
            <p class="description-text">{{ row["summary"] }}</p>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <script>
            let jqxhr;
            $('.add-default, .delete-default').on('click', function(){
                event.preventDefault();
                if (jqxhr) {
                    return;
                }
                jqxhr = $.ajax({
                    url: '/add_favorite',
                    type: 'post',
                    data: $(this).parent('form').serialize(),
                    success: function(response) {
                        console.log(response);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
                const tex = 'マイリスト追加'
                const nowDel = 'マイリスト削除'
                const alreadyDel = '削除しました'
                let btn = $('.add-default, .delete-default').val();
                if(btn.indexOf(tex) > -1){
                    $('.add-default, .delete-default').val('マイリスト追加しました');

                }else if(btn.indexOf(nowDel) > -1){
                    $('.add-default, .delete-default').val('マイリスト削除しました');
                }else if(btn.indexOf(alreadyDel) > -1){
                    $('.add-default, .delete-default').val('マイリスト追加しました');

                }
                
            });
        </script>
    </figcaption>
</figure>
{% endfor %}
</section>
{% endblock %}