{% extends "layout.html" %}

{% block title %}
    詳細ページ
{% endblock %}
{% block css %}
<link rel="stylesheet" href="../static/css/sanitize.css">
<link rel="stylesheet" href="../static/css/detail.css">
<!-- <link rel="stylesheet" href="../static/css/register.css"> -->
<script src="../static/detail.js"></script>
<!-- <link rel="stylesheet" href="../static/css/style.css"> -->

{% endblock %}
{% block main %}
<!-- ヘッダー部分の余白 -->
<div class="margin"></div>

<!-- ヒットしなければ以下のコードを実行 -->
<h1 class="poster">{{ poster }}</h1>
<!-- ヒットすれば以下のコードを実行 -->
<h1 class="poster">{{ book_list }}</h1>

<section>
{% for row in book_detail %}
<figure class="about">
    <!-- 表紙 -->
    <div class="img">
        <img class="about-image" src="{{row.img_url}}" alt="漫画の表紙">
    </div>
    <!-- ページのメイン -->
    <figcaption class="about-caption">
        <h1 class="about-title">{{ row["title"] }}</h1>
        <form action="/add_favorite">
            <input type="text" value="{{ row["title"] }}" style="display: none;">
            <input type="submit" class="submit" src="">
        </form>
        <!-- 作者 -->
        <h3 class="about-author">{{ row["author"] }}</h3>
        <!-- あらすじ -->
        <p class="about-description">{{ row["summary"] }}</p>
        <!-- サービス一覧 -->
        <div class="service">
            <ul>
                <a href="#"><li class="icon icon-magapoke">マガポケ</li></a>
                <a href="#"><li class="icon icon-line">LINE</li></a>
                <a href="#"><li class="icon icon-oukoku">まんが王国</li></a>
                <a href="#"><li class="icon icon-jumpplus">Jump+</li></a>
                <a href="#"><li class="icon icon-booklive">BookLive</li></a>
                <a href="#"><li class="icon icon-ebookjapan">ebook japan</li></a>
                <a href="#"><li class="icon icon-ynjn">ヤンジャン</li></a>
                <a href="#"><li class="icon icon-cmoa">コミック<br>シーモア</li></a>
            </ul>
        </div>
    </figcaption>
</figure>
{% endfor %}
</section>
{% endblock %}