{% extends "layout.html" %}

{% block title %}
    詳細ページ
{% endblock %}
{% block css %}
<!-- <link rel="stylesheet" href="../static/css/sanitize.css"> -->
<link rel="stylesheet" href="../static/css/detail.css">
<!-- <link rel="stylesheet" href="../static/css/register.css"> -->
<script src="../static/detail.js"></script>
<!-- <link rel="stylesheet" href="../static/css/style.css"> -->

{% endblock %}
{% block main %}
<!-- ヘッダー部分の余白 -->
<div class="margin"></div>

<!-- ヒットしなければ以下のコードを実行 -->
<h1 class="poster">{{ poster }}</h1>
<!-- ヒットすれば以下のコードを実行 -->
<h1 class="poster">{{ book_list }}</h1>

<section>
{% for row in book_detail %}
<figure class="about">
    <!-- 表紙 -->
    <div class="img">
        <img class="about-image" src="{{row.img_url}}" alt="漫画の表紙">
    </div>
    <!-- ページのメイン -->
    <figcaption class="about-caption">
        <!-- タイトル -->
        <h1 class="about-title">{{ row["title"] }}</h1>
        
        <!-- 作者 -->
        <h3 class="about-author">{{ row["author"] }}</h3>
        
        <!-- サービス一覧 -->
        <div class="service">
            <p>{{ available_services }}</p>
            <ul>
                {% if available_services[5] != 0 %}
                    <a href="{{available_services[5]}}"><li class="icon icon-magapoke">マガポケ</li></a>
                {% else %}
                    <li class="icon icon-invalid">マガポケ</li>
                {% endif %}
                {% if available_services[4] != 0 %}
                    <a href="{{available_services[4]}}"><li class="icon icon-line">LINE</li></a>
                {% else %}
                    <li class="icon icon-invalid">LINE</li>
                {% endif %}
                {% if available_services[6] != 0 %}
                    <a href="{{available_services[6]}}"><li class="icon icon-oukoku">まんが王国</li></a>
                {% else %}
                    <li class="icon icon-invalid">まんが王国</li>
                {% endif %}
                {% if available_services[3] != 0 %}
                    <a href="{{available_services[3]}}"><li class="icon icon-jumpplus">Jump+</li></a>
                {% else %}
                    <li class="icon icon-invalid">Jump+</li>
                {% endif %}
                {% if available_services[0] != 0 %}
                    <a href="{{available_services[0]}}"><li class="icon icon-booklive">BookLive</li></a>
                {% else %}
                    <li class="icon icon-invalid">BookLive</li>
                {% endif %}
                {% if available_services[2] != 0 %}
                    <a href="{{available_services[2]}}"><li class="icon icon-ebookjapan">ebook japan</li></a>
                {% else %}
                    <li class="icon icon-invalid">ebook japan</li>
                {% endif %}
                {% if available_services[8] != 0 %}
                    <a href="{{available_services[8]}}" target="_blank"><li class="icon icon-ynjn">ヤンジャン</li></a>
                {% else %}
                    <li class="icon icon-invalid">ヤンジャン</li>
                {% endif %}
                {% if available_services[1] != 0 %}
                    <a href="{{available_services[1]}}"><li class="icon icon-cmoa">コミック<br>シーモア</li></a>
                {% else %}
                    <li class="icon icon-invalid">コミック<br>シーモア</li>
                {% endif %}
                {% if available_services[7] != 0 %}
                    <a href="{{available_services[7]}}"><li class="icon icon-piccoma">ピッコマ</li></a>
                {% else %}
                    <li class="icon icon-invalid">ピッコマ</li>
                {% endif %}
            </ul>
        </div>
        <!-- 追加ボタン -->
        <form action="/add_favorite">
            <input type="text" value="{{ row["title"] }}" style="display: none;">
            <input type="submit" class="submit" src="">
        </form>
        <!-- あらすじ -->
        <div class="description-content">
            <h3 class="description-title">あらすじ</h3>
            <p class="description-text">{{ row["summary"] }}</p>
        </div>
    </figcaption>
</figure>
{% endfor %}
</section>
{% endblock %}