<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>登録画面サンプル</title>
  <link rel="stylesheet" href="/static/css/register.css">
  <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
  <div class="header">
    <nav>
      <ul>
        <li><a href="/"><h2>Free Manga</h2></a></li>
        <li><a href="/register">登録</a></li>
        <li><a href="/login">ログイン</a></li>
      </ul>
    </nav>
    <!-- <form action="/" method="post" name="manga">
      <input id="manganame" type="text" name="keyword" placeholder="タイトル名/著者名">
      <input type="submit" value="検索">
   </form> -->
  </div>

    <!-- 登録が失敗すればその詳細をposterで表示 -->
    <h2>{{ poster }}</h2>
    <h2>{{ poster1 }}</h2>
    <h2>{{ poster2 }}</h2>
    <h2>{{ poster3 }}</h2>
    <h2>{{ poster4 }}</h2>

    <form action="/register" method="post" autocomplete="off">
      <div class="register-header">
        <h1>ログイン</h1>
      </div>
      <div class="register-form">
        <input type="text" name="username" placeholder="ユーザー名">
        <input type="password" name="password" placeholder="パスワード">
        
      </div>
      <div class="register-submit">
       <input id="submit" type="submit" value="登録">
      </div>

    </form>
</body>
</html>