{% extends "layout.html" %}

{% block title %}
    ログイン
{% endblock %}
{% block css %}
<link rel="stylesheet" href="../static/css/sanitize.css">
<link rel="stylesheet" href="../static/css/style_result.css">
<link rel="stylesheet" href="../static/css/register.css">
<!-- <link rel="stylesheet" href="../static/css/style.css"> -->

{% endblock %}
{% block main %}
<form action="/login" method="post" autocomplete="off">
  <div class="register-header">
    <h1>ログイン</h1>
  </div>
  <div class="register-form">
    <input type="text" name="username" placeholder="ユーザー名">
    <input type="password" name="password" placeholder="パスワード">

  </div>
  <div class="register-submit">
    <input id="submit" type="submit" value="ログイン">
    <a href="/register">会員登録はコチラ</a>
  </div>

</form>
{% endblock %}