{% extends "layout.html" %}

{% block title %}
    マイページ
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../static/css/sanitize.css">
<link rel="stylesheet" href="../static/css/style_mypage.css">
{% endblock %}
{% block main %}
        <!-- ヘッダー部分の余白 -->
        <div class="margin"></div>


        <!-- ヒットしなければ以下のコードを実行 -->
        <h1 class="poster">{{ poster }}</h1>
        <!-- ヒットすれば以下のコードを実行 -->
        <h1 class="poster">{{ book_list }}</h1>
    
        <section>
            {% for row in database %}
            <figure class="about">
                <!-- <img src= "{{row.img}}" > -->
                <img class="about-image" src="{{row.img_url}}" alt="漫画の表紙">
                <figcaption class="about-caption">
                    <div class="title_button">
                        <h2 class="about-title">{{ row["title"] }}</h2>
                        <div class="checkbox">
                            <form action="add_favorite/{{ row['title'] }}" method="post">
                            <button  class="add_button" >
                                {% if judge == 0 %}
                                <img id="image_file" src="../static/images/w9JWnjmBCTaducu1663352389_1663352425.png" width = "30" height="30" onClick="henkou({{ loop.index }})">
                                {% else %}
                                <img id="image_file" src="../static/images/5APT0ioL996laER1663352236_1663352281.png" width = "30" height="30" onClick="henkou({{ loop.index }})">
                                {% endif %}
                            </button>
                            <br>
                            <label for="checkbox1" class="mylist">マイリストに追加する</label>
                            </form>
                        </div>
                    </div>
                    <h3 class="about-author">{{ row["author"] }}</h3>
                    <p class="about-description">
                        {{ row["summary"] }}
                    </p>
                    <div class="service">
                        <!-- <div class="service_iciran">サービス一覧</div> -->
                        <a href='/detail/{{ row["title"] }}'>詳細へ</a>
                    </div>
    
                    <!-- JSでクリック時にボタンを変更する -->
                    <script>
                        let manga = "mangaID"
                        let tmp = document.getElementsByClassName("image_file");
    
                        for(let i=0;i<=tmp.length-1;i++){
                            // tmp[i]にid属性"mangaID"+iを追加している
                            tmp[i].setAttribute("id",manga+i);
                        }
                        let img_src = new Array("../static/images/5APT0ioL996laER1663352236_1663352281.png","../static/images/w9JWnjmBCTaducu1663352389_1663352425.png");
                        let i = 0;
    
                        function henkou(x) {
                            if (i == 1) {
                                i = 0;
                            } else {
                                i ++;
                            }
                            document.getElementById("mangaID"+(x-1)).src = img_src[i];
                        }
                    </script>
                    </figcaption>
                </figcaption>
            </figure>
            {% endfor %}
        </section>
{% endblock %}