{% extends "layout.html" %}

{% block title %}
    登録
{% endblock %}
{% block css %}
<link rel="stylesheet" href="../static/css/sanitize.css">
<link rel="stylesheet" href="../static/css/style_result.css">
<link rel="stylesheet" href="../static/css/register.css">


{% endblock %}
{% block main %}
    <!-- ヘッダー部分の余白 -->
    <div class="margin"></div>

    <!-- ヒットしなければ以下のコードを実行 -->
    <h1 class="poster">{{ poster }}</h1>
    <!-- ヒットすれば以下のコードを実行 -->
    <h1 class="poster">{{ book_list }}</h1>

    <form action="/register" method="post" autocomplete="off">
      <div class="register-header">
        <h1>ユーザー登録</h1>
      </div>
      <div class="register-form">
        <input type="text" name="username" placeholder="ユーザー名">
        <input type="password" name="password" placeholder="パスワード">
        <input type="password" name="confirmation" placeholder="パスワード確認">
      </div>
      <div class="register-submit">
        <input id="submit" type="submit" value="登録">
        <a href="/login">登録済みの方はコチラ</a>
      </div>

    </form>
{% endblock %}