{% extends "layout.html" %}

{% block title %}
    登録
{% endblock %}
{% block css %}
<link rel="stylesheet" href="../static/css/sanitize.css">
<link rel="stylesheet" href="../static/css/register.css">
<link rel="stylesheet" href="../static/css/style.css">

{% endblock %}
{% block main %}
<h2>{{ poster }}</h2>
    <h2>{{ poster1 }}</h2>
    <h2>{{ poster2 }}</h2>
    <h2>{{ poster3 }}</h2>
    <h2>{{ poster4 }}</h2>

    <form action="/register" method="post" autocomplete="off">
      <div class="register-header">
        <h1>ユーザー登録</h1>
      </div>
      <div class="register-form">
        <input type="text" name="username" placeholder="ユーザー名">
        <input type="password" name="password" placeholder="パスワード">
        <input type="password" name="confirmation" placeholder="パスワード確認">
      </div>
      <div class="register-submit">
       <input id="submit" type="submit" value="登録">
       <a href="/login">登録済みの方はコチラ</a>
      </div>

    </form>
{% endblock %}