<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMICS FOR FREE | トップページ</title>
    <meta name="description" content="sample text">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/sanitize.css">
    <link rel="stylesheet" href="../static/css/style1.css">
</head>
<body>

    <!-- ヘッダー部分 -->
    <header class="header">
        <a class="title" href="/">COMICS FOR FREE.</a>
        <nav class="nav">
            <ul class="menu-group">
                <li class="menu-item">
                    <form action="/" class="search_container" method="post">
                        <input type="text" placeholder="タイトル/著者を入力" name="keyword">
                        <input type="submit" value="&#xf002">
                    </form>
                </li>
                <li class="menu-item"><a href="#" class="btn2">会員登録</a></li>
                <li class="menu-item"><a href="#" class="btn2">ログイン</a></li>
                <li class="menu-item"><a href="#" class="btn2">ログアウト</a></li>
                <li class="menu-item"><a href="#" class="btn2">お気に入り</a></li>
            </ul>
        </nav>
    </header>

    <!-- ヘッダー部分の余白 -->
    <div class="margin"></div>

    <!-- ヒットしなければ以下のコードを実行 -->
    <h1 class="poster">{{ poster }}</h1>
    <!-- ヒットすれば以下のコードを実行 -->
    <h1 class="poster">{{ book_list }}</h1>

    <section>
        {% for row in database %}
        <figure class="about">
            <!-- <img src= "{{row.img}}" > -->
            <img class="about-image" src="https://dummyimage.com/600x400/000/fff" alt="漫画の表紙">
            <figcaption class="about-caption">
                <h2 class="about-title">{{ row["title"] }}</h2>
                <h3 class="about-author">{{ row["author"] }}</h3>
                <p class="about-description">
                    あらすじあらすじあらすじあらすじあらすじあらすじあらすじあらすじあらすじあらすじあらすじあらすじ<br/>
                    あらすじあらすじあらすじあらすじあらすじあらすじ
                </p>
                <div class="checkbox">
                    <button  class="add_button">
                        <img id="image_file" src="../assets/images/5APT0ioL996laER1663352236_1663352281.png" width = "30" height="30" onClick="henkou()">
                    </button>
                    <label for="checkbox1" class="mylist">マイリストに追加する</label>
                </div>

                <!-- JSでクリック時にボタンを変更する -->
                <script>
                    var img_src = new Array("../assets/images/5APT0ioL996laER1663352236_1663352281.png","../assets/images/w9JWnjmBCTaducu1663352389_1663352425.png");
                    var i = 0;

                    function henkou() {

                        if (i == 1) {
                        i = 0;
                        } else {
                        i ++;
                        }
                        document.getElementById("image_file").src = img_src[i];
                    }
                </script>
                </figcaption>
            </figcaption>
        </figure>
        {% endfor %}
    </section>

</body>
</html>